In [1]:
import pandas as pd
import numpy as np

In [25]:
df = pd.DataFrame(np.random.rand(10,6),columns=['col'+str(i) for i in range(1,7)], index=['row'+str(i) for i in range(1,11)])

In [26]:
df

           col1      col2      col3      col4      col5      col6
row1   0.148094  0.653580  0.613129  0.350355  0.923112  0.679172
row2   0.018569  0.106523  0.610577  0.948249  0.196955  0.995130
row3   0.967418  0.580832  0.255442  0.469086  0.528993  0.716378
row4   0.039382  0.898019  0.524639  0.569288  0.457974  0.030945
row5   0.306373  0.096655  0.768796  0.074831  0.132757  0.152062
row6   0.183812  0.873851  0.548662  0.391730  0.854880  0.068930
row7   0.717094  0.090001  0.835593  0.808379  0.053216  0.193681
row8   0.566126  0.105971  0.407641  0.959478  0.658075  0.647473
row9   0.746494  0.791941  0.847872  0.871841  0.661786  0.690374
row10  0.320771  0.719804  0.537836  0.366895  0.400657  0.546639

In [27]:
df['col7'] = df.apply(lambda x: min(x) - max(x),axis=1)

In [28]:
df

           col1      col2      col3      col4      col5      col6      col7
row1   0.148094  0.653580  0.613129  0.350355  0.923112  0.679172 -0.775018
row2   0.018569  0.106523  0.610577  0.948249  0.196955  0.995130 -0.976561
row3   0.967418  0.580832  0.255442  0.469086  0.528993  0.716378 -0.711976
row4   0.039382  0.898019  0.524639  0.569288  0.457974  0.030945 -0.867074
row5   0.306373  0.096655  0.768796  0.074831  0.132757  0.152062 -0.693965
row6   0.183812  0.873851  0.548662  0.391730  0.854880  0.068930 -0.804922
row7   0.717094  0.090001  0.835593  0.808379  0.053216  0.193681 -0.782377
row8   0.566126  0.105971  0.407641  0.959478  0.658075  0.647473 -0.853507
row9   0.746494  0.791941  0.847872  0.871841  0.661786  0.690374 -0.210055
row10  0.320771  0.719804  0.537836  0.366895  0.400657  0.546639 -0.399033

In [62]:
df1 = pd.DataFrame(df.apply(lambda x: x.min() - x.max()),columns=['row11']).T

In [65]:
df = df.append(df1)

In [66]:
df

           col1      col2      col3      col4      col5      col6      col7
row1   0.148094  0.653580  0.613129  0.350355  0.923112  0.679172 -0.775018
row2   0.018569  0.106523  0.610577  0.948249  0.196955  0.995130 -0.976561
row3   0.967418  0.580832  0.255442  0.469086  0.528993  0.716378 -0.711976
row4   0.039382  0.898019  0.524639  0.569288  0.457974  0.030945 -0.867074
row5   0.306373  0.096655  0.768796  0.074831  0.132757  0.152062 -0.693965
row6   0.183812  0.873851  0.548662  0.391730  0.854880  0.068930 -0.804922
row7   0.717094  0.090001  0.835593  0.808379  0.053216  0.193681 -0.782377
row8   0.566126  0.105971  0.407641  0.959478  0.658075  0.647473 -0.853507
row9   0.746494  0.791941  0.847872  0.871841  0.661786  0.690374 -0.210055
row10  0.320771  0.719804  0.537836  0.366895  0.400657  0.546639 -0.399033
row11 -0.948849 -0.808019 -0.592430 -0.884647 -0.869896 -0.964185 -0.766506

In [113]:
def myFun(*args):
    for i in args:
        if not isinstance(i, (int, float)):
            print("Wrong Input")
            break
    else:
        print("Correct Input")

In [117]:
myFun(10.42,20.42,243)

Correct Input

In [111]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

In [118]:
subtotal = input("Enter total before tax:")
tax = .08 * subTotal
print("tax on", subtotal, "is:", tax)

Enter total before tax:10

NameError: name 'subTotal' is not defined

In [121]:
2/0

ZeroDivisionError: division by zero

In [120]:
temp = 10
print(Temp)

NameError: name 'Temp' is not defined

In [124]:
a = 10
b = 20
if a==b:
    print('a and b are equal')
else:
print(a+b)

IndentationError: expected an indented block (Temp/ipykernel_25092/331269752.py, line 6)

In [126]:
try:
    print('Press Ctrl+C to end')
    inp = input('Enter number ')
except KeyboardInterrupt:
    print('Ctrl+C is pressed: KeyboardInterrupt is caught')
else:
    print('No exception is caught')

Press Ctrl+C to end
Enter number 34
No exception is caught

In [130]:
try:
    a = int(input('Enter the Number a:'))
    b = int(input('Enter the Number b:'))
    c = a/b
except ZeroDivisionError:
    print('ZeroDivision Error Caused as the input b = 0')
    c = a/10
    print('The division of a by 10 is',c)
else:
    print('The division of a by b is',c)

Enter the Number a:34
Enter the Number b:0
ZeroDivision Error Caused as the input b = 0
The division of a by 10 is 3.4

In [131]:
import numpy as np

In [132]:
np.exp(1000)

C:\Users\BSRVPR~1\AppData\Local\Temp/ipykernel_25092/2006519253.py:1: RuntimeWarning: overflow encountered in exp
  np.exp(1000)

inf