### Pandas Function Applications - `pipe(), apply(), map(), applymap()`

In [123]:
import pandas as pd
import numpy as np

In [124]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])

# My custom function
df1 = df['col1'].map(lambda x:x*100)
print(df1)

0    -26.723051
1    111.047101
2     31.617943
3     22.238587
4     27.617197
Name: col1, dtype: float64

In [125]:
df['col1']

0   -0.267231
1    1.110471
2    0.316179
3    0.222386
4    0.276172
Name: col1, dtype: float64

In [126]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df1 = df.apply(lambda x: x.max() - x.min(), axis=1)
print(df1)

0    1.281592
1    0.322395
2    1.998703
3    1.100574
4    1.538584
dtype: float64

In [127]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df1 = df.applymap(lambda x:x*100)
print(df1)

         col1        col2        col3
0  -30.104098  -17.256112  -41.082796
1 -160.549400  131.272373  -13.959412
2   17.772615   31.328074  108.835660
3  -20.054545  -52.065918  -28.871600
4 -113.638681   88.905740   22.944508

In [128]:
df

       col1      col2      col3
0 -0.301041 -0.172561 -0.410828
1 -1.605494  1.312724 -0.139594
2  0.177726  0.313281  1.088357
3 -0.200545 -0.520659 -0.288716
4 -1.136387  0.889057  0.229445

In [129]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df1 = df.pipe(np.sqrt)
print(df1)

       col1      col2      col3
0       NaN  0.270302  0.970168
1       NaN       NaN  0.293798
2       NaN  1.437230  0.583335
3  1.273111       NaN  0.718322
4       NaN       NaN  0.865009

In [130]:
df.applymap(np.sqrt)

C:\Users\BSRVPrasad\anaconda3\lib\site-packages\pandas\core\frame.py:8823: RuntimeWarning: invalid value encountered in sqrt
  return lib.map_infer(x.astype(object)._values, func, ignore_na=ignore_na)

       col1      col2      col3
0       NaN  0.270302  0.970168
1       NaN       NaN  0.293798
2       NaN  1.437230  0.583335
3  1.273111       NaN  0.718322
4       NaN       NaN  0.865009

In [131]:
print(df)
df.apply(lambda x: x.sum(),axis = 0)

       col1      col2      col3
0 -0.388433  0.073063  0.941226
1 -2.303833 -0.548972  0.086317
2 -1.000283  2.065629  0.340280
3  1.620811 -0.323679  0.515986
4 -0.336764 -1.568424  0.748240

col1   -2.408503
col2   -0.302383
col3    2.632050
dtype: float64

In [132]:
print(df)
df.applymap(lambda x: x+10)

       col1      col2      col3
0 -0.388433  0.073063  0.941226
1 -2.303833 -0.548972  0.086317
2 -1.000283  2.065629  0.340280
3  1.620811 -0.323679  0.515986
4 -0.336764 -1.568424  0.748240

        col1       col2       col3
0   9.611567  10.073063  10.941226
1   7.696167   9.451028  10.086317
2   8.999717  12.065629  10.340280
3  11.620811   9.676321  10.515986
4   9.663236   8.431576  10.748240